.dropdown-typeahead-wrapper {
    position: relative;
}

.input-wrapper {
    position: relative;

    .clear-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
    }
}

.results-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
}
