.dropdown-typeahead-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper {
    position: relative;
    width: 100%;

    .clear-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
    }
}

.results-wrapper {
    position: absolute;
    margin-top: 5px;
    top: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
